# Lists and Sets

## Lists

LIST : Lists are used to store multiple items in a single variable.
1. List items are ordered, changeable and allow duplicate values.
2. List items are indexed, the first item can be accessed as list_name[0], second item as list_name[1] etc...
3. If we add new items to the list the items will be added at the end(i.e..List is ordered).
4. We can manipulate the list elements we can add, remove, delete list elements(i.e..List is changeable).
5. As they have index they can have same values(i.e..allows duplicates).

In [1]:
# sample list 
lst = [2,4,6,8,10]
lst

[2, 4, 6, 8, 10]

In [2]:
# accessing list elements
lst[0]

2

In [3]:
lst[4] #starting index is 0 and last index is length of the list -1

10

#### Length of the list can be found by len(list_name)

In [4]:
len(lst)

5

In [5]:
for i in range(len(lst)):
    print(lst[i], end = ' ')

2 4 6 8 10

In [6]:
for i in lst:
    print(i,end = ' ')

2 4 6 8 10

#### A list can contain different datatypes

In [7]:
lst1 = ['Py',2,True,76.5]
for i in lst1:
    print(i,type(i))
type(lst1)

Py <class 'str'>
2 <class 'int'>
True <class 'bool'>
76.5 <class 'float'>

list

#### We can also create new list using list() constructor

In [8]:
lst2 = list([12,13,22,35,47])
lst2

[12, 13, 22, 35, 47]

#### Negative indexing

1. Negative indexing means start from the end
2. -1 refers to the last item, -2 refers to the second last item etc.

In [9]:
lst2[-1]

47

In [10]:
lst2[-2]

35

#### Slicing : You can specify a range of indexes by specifying where to start and where to end the range.
#### When specifying a range, the return value will be a new list with the specified items.
#### We can also give step value also

In [11]:
l = ['Py','Python','Python2','Python3','Anaconda','Prompt','Navigator','Jupyter notebook']
l[2:5] #starting index is included and ending index is excluded

['Python2', 'Python3', 'Anaconda']

In [12]:
l[1:6:2] #starting from index 1 to 5 with step size 2

['Python', 'Python3', 'Prompt']

In [13]:
l[-5::]

['Python3', 'Anaconda', 'Prompt', 'Navigator', 'Jupyter notebook']

In [14]:
l[-5::-1] # reverse from that index

['Python3', 'Python2', 'Python', 'Py']

In [15]:
l[:3]

['Py', 'Python', 'Python2']

In [16]:
print(l[::-1])

['Jupyter notebook', 'Navigator', 'Prompt', 'Anaconda', 'Python3', 'Python2', 'Python', 'Py']

#### Checking the elements present in the list or not using in and not in operators

In [17]:
if 35 in lst2:
    print('35 is in list')

35 is in list

In [18]:
print(23 in lst2)

False

#### Changing list elements
1. Single element
2. Changing range of list elements

In [19]:
l = [i for i in 'abcdefghifklmnopqrstuvwxyz']
print(l)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'f', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']

In [20]:
# changing all negative indexed alphabets to 'S'
for i in range(len(l)):
    if i%2 != 0:
        l[i] = 'S'
print(l)

['a', 'S', 'c', 'S', 'e', 'S', 'g', 'S', 'i', 'S', 'k', 'S', 'm', 'S', 'o', 'S', 'q', 'S', 's', 'S', 'u', 'S', 'w', 'S', 'y', 'S']

In [21]:
print(l)
l[1:2] = ['s','s']
print(l)

['a', 'S', 'c', 'S', 'e', 'S', 'g', 'S', 'i', 'S', 'k', 'S', 'm', 'S', 'o', 'S', 'q', 'S', 's', 'S', 'u', 'S', 'w', 'S', 'y', 'S']
['a', 's', 's', 'c', 'S', 'e', 'S', 'g', 'S', 'i', 'S', 'k', 'S', 'm', 'S', 'o', 'S', 'q', 'S', 's', 'S', 'u', 'S', 'w', 'S', 'y', 'S']

#### Note: The length of the list will change when the number of items inserted does not match the number of items replaced.

In [22]:
l[1:5] = ['h']
print(l)
print(len(l))

['a', 'h', 'e', 'S', 'g', 'S', 'i', 'S', 'k', 'S', 'm', 'S', 'o', 'S', 'q', 'S', 's', 'S', 'u', 'S', 'w', 'S', 'y', 'S']
24

### Different methods in list

|Method|Syntax|
|--|--|
|insert|list_name.inser(index,element)|
|append|list_name.append(element)|
|extend|list_name.extend([list_of_elements])|
|len|len(list_name)|
|remove|list_name.remove(element)|
|pop|list_name.pop(index)|
|del|del list_name[index]|
|clear|list_name.clear()|

In [23]:
lst = ['Pawan','Ram','Kalyan','Charan','Sai','Sree','Dharam','Tej']
print(lst)

['Pawan', 'Ram', 'Kalyan', 'Charan', 'Sai', 'Sree', 'Dharam', 'Tej']

In [24]:
lst.insert(2,'Manoj')
print(lst)

['Pawan', 'Ram', 'Manoj', 'Kalyan', 'Charan', 'Sai', 'Sree', 'Dharam', 'Tej']

In [25]:
lst.append('Karthik')
print(lst)

['Pawan', 'Ram', 'Manoj', 'Kalyan', 'Charan', 'Sai', 'Sree', 'Dharam', 'Tej', 'Karthik']

In [26]:
lst.extend(['Deep','Chaitanya','Akhil'])
print(lst)

['Pawan', 'Ram', 'Manoj', 'Kalyan', 'Charan', 'Sai', 'Sree', 'Dharam', 'Tej', 'Karthik', 'Deep', 'Chaitanya', 'Akhil']

In [27]:
len(lst)

13

In [28]:
lst.remove('Sree')
print(lst)
print(len(lst))

['Pawan', 'Ram', 'Manoj', 'Kalyan', 'Charan', 'Sai', 'Dharam', 'Tej', 'Karthik', 'Deep', 'Chaitanya', 'Akhil']
12

In [29]:
print(lst.pop()) # without spesifying index it'll remove last element
print(lst)
print(len(lst))

Akhil
['Pawan', 'Ram', 'Manoj', 'Kalyan', 'Charan', 'Sai', 'Dharam', 'Tej', 'Karthik', 'Deep', 'Chaitanya']
11

In [30]:
print(lst.pop(1))
print(lst)
print(len(lst))

Ram
['Pawan', 'Manoj', 'Kalyan', 'Charan', 'Sai', 'Dharam', 'Tej', 'Karthik', 'Deep', 'Chaitanya']
10

In [31]:
del lst[4]
print(lst)
print(len(lst))

['Pawan', 'Manoj', 'Kalyan', 'Charan', 'Dharam', 'Tej', 'Karthik', 'Deep', 'Chaitanya']
9

In [32]:
lst.clear()
print(lst)

[]

## Sets

SET : Sets are also like lists used to store multiple items in a single variable

1. Sets are written in curly brackets {}.
2. Set items are unchangeable, unordered and unindexed.
3. Set items can appear in a different order every time you use them, and cannot be referred to by index or key(i.e..unordered).
4. We can't change the set items once they are created(i.e..unchangeable).
5. We can't change but we can remove and add the items.
6. Duplicates are not allowed.

In [33]:
myset = {'apple','orange','banana'}
print(myset)

{'apple', 'orange', 'banana'}

In [34]:
# duplicates are not allowed 
myset = {'apple','orange','banana','orange'}
print(myset)

{'apple', 'orange', 'banana'}

#### length of the set can be found by len(set_name)

In [35]:
len(myset)

3

In [36]:
len({2,3,4,5,6,7,2,1,3,4}) #not counted repeated elements, since it doesn't allows duplicates

7

#### set elements can be of any datatypes

In [37]:
a = {True,3,'Sravya',90.23}
print(a)

{'Sravya', 90.23, 3, True}

In [38]:
for i in a:
    print(type(i))
type(a)

<class 'str'>
<class 'float'>
<class 'int'>
<class 'bool'>

set

#### We can also create new set using constructor set()

In [39]:
b = set(('Sai','Pawan','Kalyan','Ram'))
print(b)

{'Ram', 'Sai', 'Kalyan', 'Pawan'}

#### Using "in" and "not in" operators

In [40]:
print('Ram' in b)

True

In [41]:
'orange' in myset

True

In [42]:
for i in myset:
    print(i)

apple
orange
banana

### Different methods in sets

|Method|Syntax|
|--|--|
|add()|set_name.add(element)|
|update()|set_name.update(another_iterable_obj)|
|remove()|set_name.remove(element)|
|discard()|set_name.discard(element)| 
|pop()|set_name.pop()|
|del|del set_name|
|union()|set1.union(set2)|
|intersection()|set1.intersection(set2)|
|intersection_update()|set1.intersection_update(set2)|
|symmetric_difference()|set1.symmetric_difference(Set2)|

In [43]:
set1 = {1,3,5,7,9,11}
set2 = {2,4,6,8,10,11,13}
print(set1,set2)
set1.add(4)
set1

{1, 3, 5, 7, 9, 11} {2, 4, 6, 8, 10, 11, 13}

{1, 3, 4, 5, 7, 9, 11}

In [44]:
set1.update(set2)
set1

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13}

In [45]:
l = ['Sravya','Kalyan']
set1.update(l)
set1

{1, 10, 11, 13, 2, 3, 4, 5, 6, 7, 8, 9, 'Kalyan', 'Sravya'}

In [46]:
set1.remove('Sravya')
set1

{1, 10, 11, 13, 2, 3, 4, 5, 6, 7, 8, 9, 'Kalyan'}

In [47]:
set1.remove('Sai') # if the element is not there in the set it gives error

KeyError: 'Sai'

In [48]:
set1.discard('Sai') # discard doesn't shows any error if the element is not their in the set

In [49]:
set1.pop()

1

In [50]:
print(set1)
set1.clear()
print(set1)

{2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 'Kalyan', 13}
set()

In [51]:
print(set2)
del set2
print(set2) # as here we have used del keyword it deletes set completely which gives error not defined while printing...

{2, 4, 6, 8, 10, 11, 13}

NameError: name 'set2' is not defined

In [52]:
set1 = {1,3,5,7,9,11}
set2 = {2,4,6,8,10,11,13}
print(set1,set2)
print(set1.union(set2))

{1, 3, 5, 7, 9, 11} {2, 4, 6, 8, 10, 11, 13}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13}

In [53]:
print(set1)
set1.update(set2) # in this union operation is updated into set1 
set1

{1, 3, 5, 7, 9, 11}

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13}

In [54]:
set1 = {1,3,5,7,9,11}
set2 = {2,4,6,8,10,11,13}
print(set1,set2)
print(set1.intersection(set2))

{1, 3, 5, 7, 9, 11} {2, 4, 6, 8, 10, 11, 13}
{11}

In [55]:
print(set1)
set1.intersection_update(set2)
set1

{1, 3, 5, 7, 9, 11}

{11}

In [56]:
set1 = {1,2,3,4,5,6}
set2 = {4,5,7,8,9}
set1-set2

{1, 2, 3, 6}

In [57]:
set1 = {1,2,3,4,5,6}
set2 = {4,5,7,8,9}
set2-set1

{7, 8, 9}

In [58]:
set1.symmetric_difference(set2)

{1, 2, 3, 6, 7, 8, 9}